.button {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  text-align: center;
  display: inline-block;
  transition: all 0.5s ease;
}

.primary {
  color: white;
  background-color: var(--system-accent-color);
}

.secondary {
  background-color: transparent;
  color: #00008B;
  border: none;
}

.button:focus,
.button:hover {
  box-shadow: 0 0 0 .25rem var(--system-accent-color-with-opacity);
  -webkit-box-shadow: 0 0 0 .25rem var(--system-accent-color-with-opacity);
}
