.main {
  gap: 1em;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
}

.title {
  display: flex;
  font-size: 2.5em;
  align-items: flex-end;
}

.row {
  display: flex;
  gap: 1em;
  width: 100%;
  height: 100%;
}
